*.pyc
*/config/current_user
.~lock*
demo/*/build/*
demo/.gradle
demo/.idea/dictionaries/*
demo/.idea/gradle.xml
demo/.idea/libraries/*
demo/.idea/tasks.xml
demo/.idea/workspace.xml
demo/app/src/main/java/uk/ac/imperial/vimc/demo/app/models/jooq/**
demo/build/*
demo/out
src/*/build/*
src/.gradle
src/.idea/.name
src/.idea/compiler.xml
src/.idea/dictionaries/*
src/.idea/gradle.xml
src/.idea/InspectionProfiles/*
src/.idea/kotlinc.xml
src/.idea/libraries/*
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/modules/*
src/.idea/tasks.xml
src/.idea/uiDesigner.xml
src/.idea/vcs.xml
src/.idea/workspace.xml
src/build/*
src/config/users/current_user
src/out
test-data\.sql
