*.pyc
*/config/current_user
*/config/users/alex.properties
.~lock*
.idea
.gradle
src/*/build/*
src/.gradle
src/.idea/.name
src/.idea/compiler.xml
src/.idea/dictionaries/*
src/.idea/gradle.xml
src/.idea/InspectionProfiles/*
src/.idea/inspectionProfiles/*
src/.idea/kotlinc.xml
src/.idea/libraries/*
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/modules/*
src/.idea/tasks.xml
src/.idea/uiDesigner.xml
src/.idea/vcs.xml
src/.idea/workspace.xml
src/app/demo
src/app/demo.zip
src/app/git
src/app/documents
src/build/*
src/classes/
src/config/users/current_user
src/out
test-data\.sql
src/*/out/*
src/app/static/node_modules
src/app/static/public/css
src/app/static/public/js
demo
git
!src/app/static/src/**/*
src/customConfigTests/templates
src/customConfigTests/static
src/app/static/coverage
**/*/coverage
src/app/demo.tar.gz
