*.pyc
*/config/current_user
.~lock*
.idea
src/*/build/*
src/.gradle
src/.idea/.name
src/.idea/compiler.xml
src/.idea/dictionaries/*
src/.idea/gradle.xml
src/.idea/InspectionProfiles/*
src/.idea/inspectionProfiles/*
src/.idea/kotlinc.xml
src/.idea/libraries/*
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/modules/*
src/.idea/tasks.xml
src/.idea/uiDesigner.xml
src/.idea/vcs.xml
src/.idea/workspace.xml
src/app/demo
src/app/git
src/build/*
src/classes/
src/config/users/current_user
src/out
test-data\.sql
src/*/out/*

src/config/users/martin\.properties
