@import "style";
@import "../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "../../node_modules/treetables/tree-table.css";
@import "../../node_modules/tokenize2/tokenize2.css";

$border-color: rgba(0, 0, 0, 0.125);
#reports-table {
  border: 1px solid $border-color;
  td {
    border-color: $border-color;
    overflow-wrap: break-word;
  }

  th {
    border-top: 0;
    border-left: 1px solid $border-color;
    border-bottom: 0;
    box-shadow: inset 0 0 0 0 transparent;

    &:nth-child(1), &:nth-child(2) {
      border-left: 0;
    }

    &.sorting_asc {
      box-shadow: inset 0 3px 0 0 $gray-600;
    }

    &.sorting_desc {
      box-shadow: inset 0 -3px 0 0 $gray-600;
    }
  }

  thead {
    tr:first-child {
      th {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .expander:after {
    content: '';
  }
}

.dataTables_length {
  float: left;
}

.dataTables_paginate {
  float: right;

  .page-item.active .page-link {
    background-color: $theme-primary !important;
    border-color: $theme-primary !important;
    -webkit-border-radius: $btn-border-radius;
    -moz-border-radius: $btn-border-radius;
    border-radius: $btn-border-radius;
  }

  .pagination {
    -webkit-border-radius: $btn-border-radius;
    -moz-border-radius: $btn-border-radius;
    border-radius: $btn-border-radius;
  }
}

.pinned-report-link {
  margin: 0 auto;
  width: 204px;
  display: block !important;
}

.tokens-container {
  margin-bottom: 0 !important;
}