@import "style";
@import "../../node_modules/bootstrap-toggle/css/bootstrap-toggle.min.css";
@import "partials/_sidebar";
@import "partials/_permissions";
@import "partials/_modal";
@import "partials/_changelogs";
@import "partials/_expander";

.specific-read-access-label {
  margin-top: 40px;
}

#global-report-readers-list {
  margin-top: -5px;
}

#publish-switch {
  cursor: pointer;
}

td, th {
  border-width: 1px !important;
  border-color: $theme-table-border-color !important;

  &.changelog-date {
    min-width: 120px;
    padding-top: 16px;
    @include media-breakpoint-up(sm) {
      width: 180px;
    }
  }
}

.tag-list {
  width: 17rem;
  float: left;
}

.tag-list-description {
  font-size: 0.9rem;
  font-style: italic;
  min-height: 3rem;
}

.tags {
  min-height: 1.7rem;
}

.remove-tag {
  cursor: pointer;
}

ul.report-dependency-list {
  padding-bottom: 0px;

  li {

    span.report-dependency-item {
      padding-left: 17px;
    }

  }
}
