$success: #28a75e;
@import "partials/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/vue-select/src/scss/vue-select.scss";

@import "partials/buttons";
@import "partials/fonts";
@import "partials/page";
@import "partials/nav-right";
@import "partials/nav";

html {
  overflow-y: scroll;
}

html, body {
  height: 100%
}

select, input {
  font-size: inherit;
}

hr.dashed {
  border-bottom: 1px dashed $body-color !important;
}

fieldset {
  display: inline;
  border: none;
  margin: 0;
  padding: 0;
}

.control {
  font-size: 16pt;
}

select.form-control {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfgCxACEBnQdLlTAAAAeklEQVRo3u3QyQ2AMAwFUVMBddETW1U0RgHhwAFFbLYUOxLMyzXKH0UEAAAAAP6uUd1qpTO/nGSRtVzoLMl4+tJ/ZUsoPm9LcJnXJwxe87oE1/n3BPf554SQ+fuEMWr+OiF0/pwQPp8nTDXmj4Rq83tC1XkAAAAAX7ABm5GrRSevg7kAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTYtMTEtMTZUMDI6MTY6MjUtMDU6MDAzbD3PAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE2LTExLTE2VDAyOjE2OjI1LTA1OjAwQjGFcwAAAABJRU5ErkJggg==') right / 20px no-repeat #fff !important;
  padding-right: 20px;
}

.large {
  font-size: 1.5rem;
  font-weight: 300;
}

.download-icon {
  margin-left: 10px;

  svg {
    overflow: hidden;
    vertical-align: sub;
    margin-bottom: -1px;
  }
}

.render-whitespace {
  white-space: pre-line;
}

.badge-published, .badge-public {
  background-color: $published-color;
  color: white;
}

.badge-internal {
  background-color: $internal-color;
  color: white;
}

.badge-tag {
  background-color: $primary;
  color: white;
  white-space: inherit;
}

.datestring-column {
  min-width: 10em;
}

.login-external-link {
  font-size: 2rem;
  font-weight: 300;
  color: #212529;
}

.remove {
  cursor: pointer;
  color: $danger;
  line-height: 1em;
  vertical-align: top;
}

.remove:hover {
  color: darken($danger, 10%);
  text-decoration: underline;
}

.btn-default {
  @include button-variant($gray-200, $gray-400);
}

