.button {
  @include button-variant($btn-primary-color, darken($btn-primary-color, 10%));
  @include button-size(5px, 20px, 1em, 1.5em, 0);
  @extend .btn
}

button[type=submit], button.submit, .button.submit {
  @include button-variant($success, $success);
}

button:disabled, .button.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
  @include button-variant($gray-400, $gray-400);
}

.btn-xl {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, 2rem, $btn-line-height-lg, $btn-border-radius-lg);
}

.arrowDown:before {
  content: "\25be";
  float: right;
  color: inherit;
}

.arrowUp:before {
  content: "\25b4";
  float: right;
  color: inherit;
}

.arrowUp:after, .arrowDown:after {
  content: "";
  margin: 0 0.5em;
  display: inline-block;
}

.btn-link {
  cursor: pointer;
  padding: 0;
}

.input-group > .input-group-append > .btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}