.btn-default {
  @include button-variant($gray-200, $gray-400);
}

.btn-published {
  @include button-variant($published-color,  $gray-400);
}

.btn-internal {
  @include button-variant(darken($warning, 10%),  $gray-400);
  color: #ffffff;
}

.sidebar{
  border-bottom: 1px solid $gray-200;

  @include media-breakpoint-up(md) {
    border-right: 1px solid $gray-200;
    border-bottom: none;
    height: 100%;
  }

  .nav-link {
    &.active {
      background: $gray-200;
    }

    &.disabled{
      cursor: not-allowed;
    }
  }

  .navbar-toggler{
    background: inherit !important;
  }

  .report-readers {
    li {
      line-height: 2rem;

      span {
        vertical-align: top;
      }
    }
  }

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }

  .modal-main {
    position:fixed;
    background: white;
    width: auto;
    height: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .modal-show {
    display: block;
  }

  .modal-hide{
    display: none;
  }

  .modal-buttons{
    float: right;
  }

}
