.summary {
    body {
      margin-top: 20px;
    }
  
    .workflow-summary_area {
      position: relative;
      z-index: 1;
    }
  
    .single-workflow-summary-area {
      position: relative;
      z-index: 1;
      padding-left: 80px;
    }
  
    @media only screen and (max-width: 575px) {
      .single-workflow-summary-area {
        padding-left: 100px;
      }
    }
  
    .single-workflow-summary-area .workflow-summary-report {
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 60px;
    }
  
    @media only screen and (max-width: 575px) {
      .single-workflow-summary-area .workflow-summary-report {
        width: 100px;
      }
    }
  
    .single-workflow-summary-area .workflow-summary-report::after {
      position: absolute;
      width: 2px;
      height: 100%;
      content: "";
      background-color: #ff9900ff;
      top: 20px;
      right: 31px;
      z-index: 1;
    }
  
    .single-workflow-summary-area .workflow-summary-report::before {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ff9900ff;
      content: "";
      top: 10px;
      right: 22px;
      z-index: 5;
      margin-top: -5.5px;
    }
  
    .single-workflow-summary-area .single-workflow-summary-content {
      position: relative;
      z-index: 1;
      padding: 20px 30px 20px;
      border-radius: 6px;
      margin-bottom: 15px;
      margin-top: 15px;
      border: 1px solid #ebebeb;
    }
  
    .single-workflow-summary-area .parameters-bg-color {
      background: #f3f3f3ff;
    }
  
    @media only screen and (max-width: 575px) {
      .single-workflow-summary-area .single-workflow-summary-content {
        padding: 20px;
      }
    }
  
    .single-workflow-summary-area .single-workflow-summary-content .workflow-summary-text p {
      font-size: 15px;
      margin-bottom: 0;
    }
  
  }